@{
    ViewBag.Title = "First";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Header1</th>
            <th scope="col">Headler2</th>
            <th scope="col">Headler3</th>
            <th scope="col">Headler4</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td rowspan="3"></td>


        </tr>
        <tr >


            <td colspan="3" ></td>


        </tr>
        <tr>

            <td></td>
            <td></td>
            <td></td>


        </tr>

    </tbody>
</table>