
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TEST2</title>
</head>
<body>
    <div>
        <p>請輸入數值</p>

        <input name="name"></input>
        <button type="submit" class="btn btn-primary">確定</button>
        <p>@ViewBag.SUM</p>
    </div>
</body>
</html>
